{
  "{{ .chezmoi.homeDir }}": true,
  "{{ .chezmoi.homeDir }}/.config/opencode": true,
  "{{ .chezmoi.homeDir }}/.pi": true,
  "{{ .chezmoi.homeDir }}/.pi/agent": true,
  "{{ .chezmoi.homeDir }}/Projects": true,
  "{{ .chezmoi.homeDir }}/Projects/ynad": true
}
